
:root {
    /*COLORS*/
    --text-color: #C7C7C7;

    --accent-color: #FE5723;
    --accent-selected:#cf4419 ;
    --compliment-color: #009688;
    
    --bg-color: #0D0E13;
    --bg-off-color: #3E3E4F;

    --section-color: #282836;

    /*FONT SIZES*/
    --headline: 20px;
    --par: 13px;
}

@font-face {
    font-family: 'IBM Plex Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');
}

body {
    background-color: var(--bg-color);
    width: 400px;
    height: 330px;
}

.content {
    width: 300px;
    height: 120px;
}

section {
    border-radius: 6px;
    padding: 10px;
    margin: 20px;
    background-color: var(--section-color);
}


h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--text-color);
    font-size: var(--headline);
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--text-color);
    font-size: var(--par);
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    
}

#goBtn {
    margin-left: 85%;
    background-color: var(--accent-color)
}

#goBtn:hover {
    background-color: var(--accent-selected);
}

.card {
    float: left;
    width: 100px;
    height: 100px;
    background: url("kiyo_normal.png") no-repeat;
    background-size: 100px 100px;
    display: block;
}
.card:hover {
    background: url("kiyo_smug.png") no-repeat;
    background-size: 100px 100px;
}

progress {
    /* float: left; */
    margin-top: 10px;
    width: 100%;

    background: var(--compliment-color);
}

progress::-webkit-progress-value {
    background: var(--compliment-color);
  }

.stateInfo {
    margin-right: 70%;
}

.icon-container {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.link-button {
    display: inline-block;
    background-color: var(--section-color);
    margin-right: 10px;
}

.link-button:hover{
    background-color: var(--compliment-color);
}
