
:root {
    --text-color:rgb(199, 199, 199);
}


html {
    background-color: #19171A;
}

.content {
    width: 300px;
    height: 100px;
}

section {
    border-radius: 6px;
    padding: 10px;
    margin: 20px;
    background-color: #222222;
}

.s1 {
    width: 300px;
    height: 300px;
}

h1 {
    color: var(--text-color);
}

p {
    color: var(--text-color);
}

button {
    margin-left: 85%;
}

button:hover {
    background-color: rgb(255, 136, 0);
}

.card {
    float: left;
    width: 100px;
    height: 100px;
    background: url("kiyo_normal.png") no-repeat;
    background-size: 100px 100px;
    display: block;
}
.card:hover {
    background: url("kiyo_smug.png") no-repeat;
    background-size: 100px 100px;
}