Flask==1.1.2
Flask-RESTful==0.3.8
Werkzeug==1.0.1
gunicorn
requests
transformers
#torch
#torch==1.2.0+cpu torchvision==0.4.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
torch-cpu==0.1.0
itsdangerous==1.1.0